@font-face {
  font-family: 'mreaves';
  src: url('../fonts/Mrs Eaves OT Roman.otf') format('woff'),
       url('../fonts/Mrs Eaves OT Roman.otf') format('truetype');
}

/* Clues box */


body, html {
  padding: 0;
  height: 100%; width: 100%;
  overflow: hidden;
}
p{
  margin-bottom: 0px;
}

/*.container {
  overflow: hidden;
  height: 100%; width: 100%;
  bottom: 0; left: 0; right: 0;
  margin: auto;
}*/

#clue-head{
  height: 235px;
}
#clue-emp{
  height: 235px;
}


#z-0{
  z-index: 0;
  max-width: 100%;
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

#z-1{
  z-index: 1;
  max-width: 99%; 
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#z-2{
  z-index: 1;
  max-width: 40%; 
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#rest{
  width: 100%
  height: 100%;
  text-align: center;
  vertical-align: middle;
}


#htctrl{
  height: 500px;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    #htctrl {
        height: 410px;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #htctrl {
        height: 320px;
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #htctrl {
        height: 300px;
    }
}
@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    #htctrl {
        height: 200px;
    }
}
@media only screen and (max-width: 414px) {
    /* For mobile phones: */
    #htctrl {
        height: 175px;
    }
}
@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    #htctrl {
        height: 160px;
    }
}
@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    #htctrl {
        height: 140px;
    }
}

#scroll{
  overflow: auto;
  z-index: 3;
}
#heading-clue{
  font-size: 2.5vw;
  padding-top: 1vw;
  padding-left: 1vw;
}

#clue_pass{
  font-size: 2vw;
  padding-top: 1vw;
}

#heading-story{
  font-size: 2.5vw;
  padding-top: 1vw;
  text-align:center;
}