@media only screen and (min-width: 1024px) {
	#parent_login{
		padding-top: 100px;
	}
}

@media only screen and (max-width: 1024px) {
	#parent_login{
		padding-top: 50px;
	}
}

div.login_image1{
		width: 100%;
	}
	div.login_image2{
		width: 100%;
	}
	div.login_image{
		width: 100%;
	}
}