@media only screen and (max-width: 500px) {
	#parent_login{
		width: auto;
		height: 90vh;
		margin: 0 auto;
		position: relative;
	}
	div.login_image1{
		width: 100%;
	}
	div.login_image2{
		width: 100%;
	}
	div.login_image{
		width: 100%;
	}

}

@media only screen and (orientation: potrait) {
	#parent_login{
		padding-top: 50px;
	}
}

div.login_image1{
		width: 100%;
	}
	div.login_image2{
		width: 100%;
	}
	div.login_image{
		width: 100%;
	}
}