body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

body, html {
  height: 100%;
  width: 100%; }

.bg {
  /* The image used */
  background-image: url("../images/bg.png");
  /* Full height */
  height: 100%;
  width: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }


.navbar.navbar-default{
  background-color: rgb(0,0,0); 
}