body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

a {
	color: #00B7FF; 
}



/* Login page */

body {
	background: #EAEAEA;
}
.login_section {
	text-align: center; 
	font-family: 'Exo 2', sans-serif;
}
.register_section {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
.fa {
	padding: 0.5em;
	font-size: 2.5em;
	width: 3em;
	height: 2em;
	border-radius: 10%;
	text-align: center;
	text-decoration: none;
	margin: 0.7em 0 0.5em 0;
}

.fa:hover {
	opacity: 0.75;
	text-decoration: none;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
	text-decoration: none;
}

.login_title {
	margin-top: 2.5em;
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.5em;
}

.line {
	background: black;
	height: 1px;
	width: 35%;
	margin: 0 auto;
	margin-top: 2em;
}
.register_title {
	margin: 2em 0 1em 0;
}
.register_cont {
	text-decoration: none;
	font-size: 1.7em;
}
.register_cont:hover {
	text-decoration: none;
} 



/* Sign up page */

body {
    background: #EAEAEA;
}
.fa {
	padding: 0.5em;
	font-size: 2.5em;
	width: 3em;
	height: 2em;
	border-radius: 10%;
	text-align: center;
	text-decoration: none;
	margin: 0.7em 0 0.5em 0;
}

.fa:hover {
	opacity: 0.75;
	text-decoration: none;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
	text-decoration: none;
}
#email {
	width: 30%;
	margin: 0 auto;
}
.title {
	font-family: 'Exo 2', sans-serif;
	font-size: 2.3em;
	margin-top: 2em;
}
.fbverify {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.6em;
	margin: 1.5em 0 0 0;
}
.container {
	text-align: center;
}
.user {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.4em;
	margin: 1em;
}
.btn {
	margin-top: 1em;
}