@font-face {
  font-family: 'mreaves';
  src: url('../fonts/Mrs Eaves OT Roman.otf') format('woff'),
  url('../fonts/Mrs Eaves OT Roman.otf') format('truetype');
}

/* Clues box */


body, html {
  padding: 0;
  height: 100%; width: 100%;
  overflow: auto;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

  a {
    color: #00B7FF; }

    .greykaro{
      background: #f3f3f1;
    }

    div.login_image1{
      width: 100%;
    }

    div.login_image2{
      width: 100%;
    }

    div.login_image{
      width: 100%;
    }

    #reg_wrapper{
      padding-top: 50px;
      padding-bottom: 50px;
    }

    #parent_login{
      padding-top: 50px;
      padding-bottom: 50px;
    }

    #reg_button{
      padding: 3% 10%;
      width: 100%;
    }

    @media only screen and (max-width: 1024px) {
      #parent_login{
        padding-top: 100px;
        padding-bottom: 100px;
      }
      #reg_wrapper{
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }

    @media only screen and (max-width: 1024px) {
      #reg_button{
        padding: 0;
        padding-top: 20px;
      }
    }

    .navbar-inverse .navbar-nav {
      color: #777;
    }

    .navbar-header{
      padding:1em;
    }
    .header-list{
      font-size: 25px;
    }

    .bgimage{
      background: url("../images/bg.png") no-repeat center center fixed;
      background-size: cover;
    }

    .bg {
      width: auto;
      z-index: -2000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;  }

      .navbar.navbar-default{
        background-color: rgb(0,0,0); 
      }

      .navbar-inverse .navbar-nav>li>a{
        line-height: 35px;
      }

      div.inline-block {
        display: inline-block;
        text-align: center;}

        div.image1 {
          content: url("../images/Logo@5x.png"); }

          div.image2 {
            content: url("../images/934.png");
            padding: 3%; }

            div.image3 {
              content: url("../images/signin.png"); }

              .pad100 {
                padding: 100px;
                text-align: center; }

                .scale-down {
                  -ms-transform: scale(0.9, 0.9);
                  /* IE 9 */
                  -webkit-transform: scale(0.9, 0.9);
                  /* Safari */
                  transform: scale(0.9, 0.9); }

/*
.container {
  overflow: hidden;
  position: absolute;
  height: 100%; width: 100%;
  bottom: 0; left: 0; right: 0;
  margin: auto;
}
*/


.box {
  position: absolute;
  height: 80%; width: 87%;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
}
.left_flapout {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  margin: auto;
  height: 94%;
}
.left_flap {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  margin: auto;
  height: 100%;
  z-index: 5;
}
.symbol {
  position: absolute;
  top: 0; bottom: 0; left: 4em;
  height: 20%;
  margin: auto;
  z-index: 10;
}

.base {
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  height: 100%; width: 100%;
}
.rectangle1 {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%; width: 100%;
  margin: auto;
}
.rectangle2 {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 90%; width: 92%;
  margin: auto;
}
.plus {
  position: absolute;
  z-index: 10;
  top: 0; bottom: 0; right: 5.1em;
  margin: auto;
}
.ellipse {
  position: absolute;
  z-index: 5;
  margin: auto;
  top: 0; bottom: 0; right:0;
}
.ellipse_o {
  position: absolute;
  right: -1.5em; top: 0; bottom: 0;
  margin: auto 0 auto 0;
  height: 100%;
}
.symbol2 {
  position: absolute;
  height: 60%;
  right: 0; left: 0; top: 0; bottom: 0;
  margin: auto;
  z-index: 3;
}
.clip {
  position: absolute;
  margin: auto;
  right: 0; left: 0; top: 0;
  z-index: 3;
}


/* Navbar */
/*
.navbar {
  position: absolute;
  top: 0; left: 0;
}
*/
.logo {
  display: inline-block;
  position: relative;
  width: 150px;
}
.clues {
  display: inline-block;
  position: relative;
  height: 25%;
  padding: 2.5em 2em 2.5em 1em;
}
.storyline {
  display: inline-block;
  position: relative;
  height: 25%;
  padding: 2.5em 2em 2.5em 1em;
}
/*
.navbar_cont {
  position: absolute;
  top: 0; left: 0;
  height: 13%; width: 100%;
}
*/


/* Leaderboard */ 
.top_bar {
  padding: 1.5em 0 1.5em 0;
  background: white;
  border-bottom: 2px solid #8F908C;
  font-weight: bold;
}
.leaderboard-container-fluid {
  height: 100%;
  padding-top: 100px;
  font-family: mreaves;
  font-size: 1.5em;
}
.leaderboard-container{
  padding-top:3%;
  padding-bottom:3%;
}



/*game*/

#mar-fin{
  padding-top: 100px;
  font-family: mreaves;
  font-size: 1.5em;
}

#mar-fin .row{
  margin-left: 0;
  margin-right: 0;
}

.nav-tabs.nav-justified>li>a{
  color: #888888;
}
.nav-tabs.nav-justified>li>a.active{
  color: black;
}

#clue-head{
  height: 235px;
}
#clue-emp{
  height: 235px;
}


#z-0{
  z-index: 0;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}

#z-1{
  z-index: 1;
  max-width: 99%; 
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#z-2{
  z-index: 1;
  max-width: 40%; 
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#rest{
  width: 100%
  height: 100%;
  text-align: center;
  vertical-align: middle;
}


#htctrl{
  height: 500px;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  #htctrl {
    height: 410px;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #htctrl {
    height: 320px;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #htctrl {
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  #htctrl {
    height: 200px;
  }
}
@media only screen and (max-width: 414px) {
  /* For mobile phones: */
  #htctrl {
    height: 175px;
  }
}
@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  #htctrl {
    height: 160px;
  }
}
@media only screen and (max-width: 320px) {
  /* For mobile phones: */
  #htctrl {
    height: 140px;
  }
}

#scroll{
  overflow: auto;
  z-index: 3;
}
#heading-clue{
  font-size: 2.5vw;
  padding-top: 1vw;
  padding-left: 1vw;
}

#clue_pass{
  font-size: 2vw;
  padding-top: 1vw;
}

#heading-story{
  font-size: 2.5vw;
  padding-top: 1vw;
  text-align:center;
}

.tab-content{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tab-pane img{
  width: 100%;
  height: auto;
}

.nav-border-white-karo{
  border-style: solid;
  border-width: medium;
  border-color: white;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .tab-pane p{
    font-size: 0.8em; 
  }
  .tab-content{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
/*animations*/
@keyframes shake_horizontal {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake_horizontal {
  animation-name: shake_horizontal;
}

#userid_level {
  padding: 3% 0;
}