<link rel="stylesheet" href="../stylesheets/style.css">


<div class="container">
  <!--
  <div class="top_rectangle">
    <img class="top_rect" src="../images/clues_box/image9.png">
  </div>
-->
  
  <div class="box">
  	
	  <div class="base">
      <img class="rectangle1" src="../images/clues_box/image3.png">
      <div class="ellipse_o">
        <img class="ellipse" src="../images/clues_box/image4.png">
        <img class="plus" src="../images/clues_box/image5.png">
      </div>
      <div class="left_flapout">
	      <img class="left_flap" src="../images/clues_box/image1.png">
	      <img class="symbol" src="../images/clues_box/image2.png">
	    </div>

	  </div>  

	  <img class="rectangle2" src="../images/clues_box/image6.png">
	  <img class="symbol2" src="../images/clues_box/image7.png">
	<!--<img class="clip" src="../images/clues_box/image8.png">-->
  </div>
</div>	