<div class="container">
  <div class="login_section">
    <h2 class="login_title">Let's get you in</h2>
    <h3 class="login_cont">Log in through Facebook</h3>
    <div class="button_con" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()" data-ng-controller="facebookCtrl">
      <a href="#" class="fa fa-facebook"></a>
    </div>
  </div>

  <div class="line"></div>
  <div class="register_section">
    <h2 class="register_title">First time ?</h2>
    <a href="#" class="register_cont">Click to register</a>
  </div>
</div>
