<div class="container">
	<div id="parent_login">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 col-xs-12">
				<img src="../images/Logo@5x.png" class="login_image1 img-responsive center-block"></img>
			​</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 col-xs-12">
				<img src="../images/934.png" class="login_image2 img-responsive center-block"></img>
			​</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="#">
					<div data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()" data-ng-controller="facebookCtrl">
						<img src="../images/signin.png" class="login_image2 img-responsive center-block"></img>
					</div>
				</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>