<!--<link rel="stylesheet" href="../stylesheets/style.css">

<div class="container">
  <img class="navbar" src="../images/clues_box/image9.png">
  <div class="navbar_cont">
  	<img class="logo" src="../images/clues_box/image10.png">
    <img class="clues" src="../images/clues_box/image11.png">
    <img class="storyline" src="../images/clues_box/image12.png">
  </div>
  
</div>-->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-left" href="#">
		        <img class="logo" src="../images/clues_box/image10.png" >
		      </a>
    	</div>	
    <div class="collapse navbar-collapse" id="mynavbar">
	    <ul class="nav navbar-nav navbar-right">
	    	
		    <!-- <div class="navbar-header">
		      <a class="navbar-left" href="#"><img class="logo" src="../images/clues_box/image10.png"></a>
		    </div>  -->
	      <li class="header-list"><a href="/home">HOME</a></li>
	      <li class="header-list"><a href="/clues_box">CLUES</a></li>
	      <li class="header-list"><a href="/storyline" ng-controller="questionCtrl" ng-click="Question()">STORYLINE</a></li>

	      <li class="header-list"><a href="/leadreboard" ng-controller="leadreboardCtrl" ng-click="Leaderboard()">LEADERBOARD</a></li>
	      <li class="header-list"><a href="/rules">RULES</a></li>
	    </ul>
	</div>
  </div>
</nav>

