<div class="container" id="mar-fin">
  
  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{ active: isSet(1) }"><a data-toggle="tab" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">Clue</a></li>
      <li ng-class="{ active: isSet(2) }"><a data-toggle="tab" ng-click="setTab(2)" ng-class="{ active: isSet(2) }">Storyline</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade" ng-show="isSet(1)"  ng-class="{ active: isSet(1),in: isSet(1) }">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade" ng-show="isSet(2)"  ng-class="{ active: isSet(2),in: isSet(2) }" >
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3 col-xs-1"></div>
      <div class="form-group col-md-6 col-xs-10">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="answer" placeholder="Answer" ng-model="answer">
          </div>
        </form>
      </div>
      <div class="col-md-3 col-xs-1"></div>
  </div>
  <div class="row">
      <div class="col-md-3 col-xs-3"></div>
      <div class="form-group col-md-6 col-xs-6 ">
        <div class="col-md-3"></div>
        <button type="submit" class="btn btn-default col-md-6 col-xs-12">Submit</button>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-3 col-xs-3"></div>
  </div>
</div>